* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
/* header styling */
header {
  background-color: #a4c2bb;
  border-bottom: solid;
}
header h1 {
  display: flex;
  flex: 1 1 800;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 300%;
  margin: 0px 100px;
}
header ul {
  display: flex;
  justify-content: flex-end;
}

header li {
  background-color: #a4c2bb;
  font-size: 125%;
  list-style: none;
  width: 125px;
  padding: 15px;
  margin-left: 20px;
  transition: 1.5s;
}
/* .container {
  margin-left: 25px;
} */

header li:hover {
  background-color: #c2a4a8;
}

/* Main body styling */
body {
  background-color: #c2b9a4;
}
main section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main h2 {
  align-items: flex-start;
  border-right: double;
  min-width: 150px;
  margin-bottom: 50px;
  padding-left: 25px;
}
.main-q {
  display: flex;
  justify-content: right;
  margin: 50px;
  text-align: right;
}
.main-p {
  display: flex;
  justify-content: right;
  margin: 50px;
  text-align: right;
  flex-direction: column;
  justify-content: space-between;
}

#profile {
  height: 250px;
  width: auto;
  object-fit: contain;
}
.col-p {
  /* flex: 1 0 75%; */
  width: 100%;
  text-align: center;
  margin: 50px;
}
.col {
  flex: 2 0 35%;
  text-align: center;
  margin: 50px;
}
.portfolio-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.link-img {
  width: 100%;
}

/* footer styling */
footer {
  background-color: #a4c2bb;
}

@media screen and (max-width: 936px) {
  main section {
    flex-direction: column;
  }
  main h2 {
    border-bottom: double;
    border-right: none;
  }
  .main-q {
    display: unset;
    text-align: center;
  }
}
