* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
/* header styling */
header {
  background-color: #a4c2bb;
  border-bottom: solid;
}
header h1 {
  display: flex;
  flex: 1 1 800;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 300%;
  margin: 0px 100px;
}
header ul {
  display: flex;
  justify-content: flex-end;
}

header li {
  border: solid;
  font-size: 125%;
  list-style: none;
  width: 125px;
  padding: 15px;
  margin-left: 20px;
}

/* Main body styling */
main {
  background-color: #c2b9a4;
  /* display: flex; */
}
main section {
  display: flex;
  flex-direction: row;
}
main h2 {
  align-items: flex-start;
  border-right: double;
  min-width: 150px;
  margin-bottom: 50px;
}

main p {
  align-content: flex-end;
  margin: 50px;
  margin-bottom: 50px;
  text-align: end;
}
img {
  max-height: 200px;
  max-width: 300px;
}

#portfolio-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

/* footer styling */
footer {
  background-color: #c2a4b7;
}
